<ion-header>

  <ion-navbar>
    <ion-title>Add sighting for {{birdName}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div>

  </div>

  <div class="content-box">
    <form (ngSubmit)="addSighting()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list>

            <ion-item>
              <p item-start>Bird's id:</p>
              <p item-end>{{birdId}}</p>
            </ion-item>

            <ion-item>
              <p item-start>Place's latitude:</p>
              <p item-end >{{latitude}}</p>
            </ion-item>

            <ion-item>
              <p item-start>Place's longitude:</p>
              <p item-end >{{longitude}}</p>
            </ion-item>

            <ion-item no-lines>
              <ion-input align-items-center="fsdf" type="text" placeholder="Place's description" name="place" [(ngModel)]="placeDescription"
                         required></ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button ion-button class="button" full type="submit" [disabled]="!registerForm.form.valid">Add Sighting
          </button>
        </ion-col>
      </ion-row>

    </form>
  </div>


</ion-content>
